.sidebar {
  margin: 10px 0px 10px 0px;
  border: 1px solid #565656;
  padding: 30px;
  left: 20px;
  overflow-y: auto !important;
}

.sidebar {
}

.title {
  text-align: center;
}

.front-end-developer {
  font-size: 12px;
  margin-bottom: 10px;
}

.profile-png {
  width: 100%;
}

.my-name {
  font-size: 24px;
}
.email-address {
  text-align: center;
}
.email {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.address {
  font-size: 12px;
  font-weight: 600;
}
.copyright-text {
  font-size: 12px;
}
/* .hire-me-btn {
  background-color: #0dcaf0;
} */
.btn-blue {
  background-color: #0dcaf0;
  color: black;
}
.btn-blue:hover {
  background-color: transparent;
  border: 1px solid #0dcaf0;
  transition: 0.3s ease-out;
  color: #0dcaf0;
}
/* .social-icons {
  margin: 0.5rem;
  border-radius: 20px;
  padding: 10px;
  transition: color 0.3s, border-color 0.3s;
  border: 1px solid #999999;
}

.social-icons:hover {
  color: #0dcaf0;
  border-color: #0dcaf0;
}
.social-media-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
} */
.social-icons {
  margin: 0.5rem;
  border-radius: 20px;
  padding: 10px;
  transition: color 0.3s, border-color 0.3s;
  border: 1px solid #999999;
  color: #999999;
}

.social-icons:hover {
  color: #0dcaf0;
  border-color: #0dcaf0;
  cursor: pointer;
}

.social-media-icons {
  display: flex;
  justify-content: center;
}

.badge {
  align-items: center;
  border: 1px solid #565656;
  display: inline-flex;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 53px;
  padding: 9px 20px;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.badge:hover {
  color: #0dcaf0;
}

.main-text {
  color: #f8f9fa !important;
  /* font-size: 48px; */
}

.name_heading {
  color: #0dcaf0 !important;
}
.sub_heading {
  max-width: 480px;
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 31px;
  opacity: 1;
  transform: translate(0);
}
.side-menu {
  position: fixed;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.side-menu {
  margin: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  border-radius: 32px;
  border: 1px solid white;
  padding: 10px 5px;
}

.icon {
  font-size: 1.5rem;
}

/* .round-text:hover {
  border-color: #0dcaf0;
  transition: 0.3s ease-in-out;
} */

.round-text {
  padding: 15px;
  border: 1px solid #0dcaf0;
  transition: 0.3s ease-in-out;

  border-radius: 100px;
  height: 175px;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.rotate-image {
  animation: spin 6s infinite linear;
  height: 175px;
  width: 175px;
  display: block;
  transform: translate(-50%, -50%);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about-section {
  margin-top: 150px;
}

.resume-section {
  margin-top: 150px;
}
.contact-section {
  margin-top: 150px;
}

/* Timeline holder */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
  content: " ";
  background-color: #565656;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 30px;
  transform: translateX(-50%);
  width: 1px;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: " ";
  background: #565656;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #565656;
  left: -7px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* top: 30px; */
}

.timeline.item:hover {
  background: red !important;
}

.resume-date {
  color: #999;
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: -5px;
  transition: 0.3s;
}
.resume-subtitle {
  color: #fff;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 5px;
  margin-top: 0;
}
.red-star {
  color: #fc4545;
  font-size: 12px;
  margin-left: 5px;
}
.form-control {
  background-color: #0000 !important;
  border: none;
  outline: none !important;
}

input {
  background-color: #0000 !important;
  border: none !important;
  color: #fff !important;
  display: block !important;
  font-size: 18px !important;
  margin: 0 0 34px !important;
  outline: none !important;
  padding: 5px 3px 7.5px !important;
  transition: 0.2s !important;
  width: 100% !important;
}

.message {
  border-radius: 0;
  height: 150px;
  border-bottom: 1px solid #555 !important;
  resize: none;
}

label {
  color: #fff;
  display: block;
  font-size: 12px;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #0dcaf0;
  border: none;
  border-radius: 30px;
  color: #000;
  padding: 12px 58px;
  text-align: center;
}
