.sidebar {
  /* margin: 0px 10px 0px 0px; */
  border: 1px solid #565656;
  height: 600px;
  padding: 30px;
  width: 300px !important;
  position: fixed;
  left: 20px;
}

.title {
  text-align: center;
}

.front-end-developer {
  font-size: 12px;
  margin-bottom: 10px;
}

.profile-png {
  width: 100%;
}

.my-name {
  font-size: 24px;
}
.email-address {
  text-align: center;
}
.email {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
.address {
  font-size: 12px;
  font-weight: 600;
}
.copyright-text {
  font-size: 12px;
}
/* .hire-me-btn {
  background-color: #0dcaf0;
} */
.btn-blue {
  background-color: #0dcaf0;
  color: black;
}
.btn-blue:hover {
  background-color: transparent;
  border: 1px solid #0dcaf0;
  transition: 0.3s ease-out;
  color: #0dcaf0;
}
/* .social-icons {
  margin: 0.5rem;
  border-radius: 20px;
  padding: 10px;
  transition: color 0.3s, border-color 0.3s;
  border: 1px solid #999999;
}

.social-icons:hover {
  color: #0dcaf0;
  border-color: #0dcaf0;
}
.social-media-icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
} */
.social-icons {
  margin: 0.5rem;
  border-radius: 20px;
  padding: 10px;
  transition: color 0.3s, border-color 0.3s;
  border: 1px solid #999999;
  color: #999999;
}

.social-icons:hover {
  color: #0dcaf0;
  border-color: #0dcaf0;
  cursor: pointer;
}

.social-media-icons {
  display: flex;
  justify-content: center;
}
