body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}
/* .container {
  width: 100%;
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin-right: auto;
  margin-left: auto;
} */
/* 
@media (min-width: 1200px) {
  .container {
    max-width: 1340px;
  }
} */

.primary-text-color {
  color: #999999;
}

.secondary-text-color {
  color: #0dcaf0;
}

@media (min-width: 992px) and (max-width: 2024px) {
  .sidebar {
    margin: 10px 0;
    border: 1px solid #565656;
    padding: 30px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    overflow-y: auto;
  }
}

h1 {
  font-weight: 300 !important;
  letter-spacing: -0.2px;
  font-size: 78px;
  line-height: 90px;
  margin-bottom: 43px;
}

h2 {
  font-size: 48px;
  line-height: 60px;
  color: #fff;
  font-weight: 300 !important;
  margin-bottom: 33px;
}
.text-gray {
  color: #999999;
}

@media (min-width: 1200px) {
  .proficiency {
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .proficiency-content {
    border-radius: 85px;
    margin-bottom: 20px;
    padding: 54px 30px 20px;
  }
  .percentage {
    font-size: 30px !important;
  }
  .side-menu {
    background: #000;
    border: 1px solid #575757;
    border-radius: 30px;
    flex-direction: column;
    gap: 20px;
    list-style: none !important;
    padding: 24px 0;
    position: fixed !important;
    right: 69px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    z-index: 20;
  }
}
.proficiency-content {
  border-radius: 85px;
  margin-bottom: 20px;
  padding: 54px 30px 20px;
}
.percentage {
  font-size: 30px !important;
}

@media (min-width: 320px) and (max-width: 992px) {
  .hero-section {
    margin-top: 50px;
  }
}
