body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}
.container {
  width: 100%;
  padding-right: 5px !important;
  padding-left: 5px !important;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1340px;
  }
}

.primary-text-color {
  color: #999999;
}

.secondary-text-color {
  color: #0dcaf0;
}

@media (min-width: 992px) and (max-width: 2024px) {
  .sidebar {
    position: fixed;
  }
}

h1 {
  font-weight: 300;
  letter-spacing: -0.2px;
  font-size: 78px;
  line-height: 90px;
  margin-bottom: 43px;
}

h2 {
  font-size: 48px;
  line-height: 60px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 33px;
}
